/*indicazioni generali della pag*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*imposto header*/
header {
    background-color: white;

    background-size: 300px;
}

.container {
    width: 100%;
    overflow: hidden;
}

.text {
    width: center;

}